@font-face {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	src: url("https://cdn.jsdelivr.net/gh/tuanmuda2k21/fontsane@main/SF-Pro-Display-Regular.otf") format("opentype")
}